<div style="padding-top:60px">

<h1>Listing projectusers</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>User</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>
  
  <tbody>
  <%= paginate @projectusers %>
    <% @projectusers.each do |projectuser| %>
      <tr>
        
        <td><%= projectuser.project_id %></td>
        <td><%= projectuser.user_id %></td>
        <td><%= link_to 'Show', projectuser %></td>
        <td><%= link_to 'Edit', edit_projectuser_path(projectuser) %></td>
        <td><%= link_to 'Destroy', projectuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Projectuser', new_projectuser_path %>
