<div style="padding-top:60px">
<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @projectuser.project_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @projectuser.user_id %>
</p>

<%= link_to 'Edit', edit_projectuser_path(@projectuser) %> |
<%= link_to 'Back', projectusers_path %>
